* {
    font-family: "Monaco", "Courier New", "Lucida Console", monospace;
}
body {
    background-color: rgb(238, 224, 216);
    position: absolute;
    padding: 0;
    margin: 0;
    width: 100%;
}

#header {
    background-color: rgb(211, 183, 166);

    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
    margin: 0;
    font-size: 20px;
    font-weight: bold;
    font-family: "Courier New", Courier, monospace;
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    color: rgb(177, 84, 41);

}

.recipe_container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: left;
    width: 100%;
    padding-top: 130px;
}

.recipe {
    font-weight: 500;
    font-size: 50px;
    text-align: left;
    color: rgb(177, 84, 41);
    margin: 6px;
    padding-left: 20px;

    transition-duration: 333ms;
    transition-timing-function :cubic-bezier(0, 0, 0, 1);
}

.recipe:hover {
    padding-left: 40px;
}

.recipe:active {
    padding-left: 30px;
}

#title {
    color: rgb(177, 84, 41);
    font-size: 80px;
    text-align: center;
    font-weight: 500;
}

.description {
    color: rgb(54, 39, 35);
    background-color: rgba(177, 84, 41, 0.479);
    font-size: 20px;
    text-align: center;
    font-weight: 500;
}

.image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    width: 35%;
}
.header {
    color:rgb(54, 39, 35);
    background-color: rgba(177, 84, 41, 0.75);
    font-size: 40px;
    text-align: center;
    font-weight: 500;
}
.list {
    color:rgb(54, 39, 35);
    background-color: rgba(177, 84, 41, 0.479);
    text-align: left;
    font-weight: 500;
    
}